:root {
    --clr-primary: hsl(192, 100%, 9%);
    --clr-secondary: hsl(322, 100%, 44%);
    --clr-tertiary: hsl(321, 100%, 66%);
    --clr-error: hsl(0, 100%, 63%);
    --clr-social-hover: hsl(192, 100%, 49%);
    --clr-section-bg: hsl(207, 100%, 98%);
    --clr-light: hsl(0, 0%, 100%);
    --clr-btn-accent-shadow: hsla(192, 100%, 9%, 0.2231);
    --clr-btn-shadow: hsla(321, 100%, 66%, 0.2188);
    --clr-stat-desc: hsl(212, 11%, 47%);
}